<div class="nav-scroller py-1 mb-2">
  <nav class="nav d-flex justify-content-between">
    <a class="p-2 text-muted" (click)="setCategory('World')">World</a>
    <a class="p-2 text-muted" (click)="setCategory('Technology')">Technology</a>
    <a class="p-2 text-muted" (click)="setCategory('Design')">Design</a>
    <a class="p-2 text-muted" (click)="setCategory('Culture')">Culture</a>
    <a class="p-2 text-muted" (click)="setCategory('Business')">Business</a>
    <a class="p-2 text-muted" (click)="setCategory('Opinion')">Opinion</a>
    <a class="p-2 text-muted" (click)="setCategory('Science')">Science</a>
    <a class="p-2 text-muted" (click)="setCategory('Health')">Health</a>
    <a class="p-2 text-muted" (click)="setCategory('Style')">Style</a>
    <a class="p-2 text-muted" (click)="setCategory('Travel')">Travel</a>
  </nav>
</div>
