.post-image{
  .ql-editor{
    padding: 0 !important;
    height: 200px;
    overflow: hidden;
    p{
      overflow: hidden;
    }
    img{
      object-fit: cover !important;
      width: 100%;
      height: 200px;
    }

  }
}

.ql-editor {
  padding: 0 !important;
}

