/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@import "~quill/dist/quill.core.css";
@import "~quill/dist/quill.snow.css";

.ql-editor{
  padding: 40px 30px;
  border: 2px solid #FFFFFF;
  border-radius: 4px;
}


.validation{
  min-width: 100%;
  padding: 5px 15px;
  border-radius: 5px;
  margin-top: .5rem;
  color: red;
  border: 1px solid red;
  background: rgba(248, 70, 70, 0.34);
}


