<div class="figure" style="height: 100%; min-height: 400px">
  <img class="photo" style="object-fit: cover; margin: 0; height: 100%" src="https://images.wallpaperscraft.ru/image/single/gora_temnyj_noch_154990_1920x1080.jpg" alt="image">
  <div class="col-md-10 px-0 p-5">
    <h1 class="display-7 font-italic">Title of a longer featured blog post</h1>
    <p class="lead my-3 display-7 ">Multiple lines of text that form the lede, informing new readers quickly and efficiently about what's most interesting in this post's contents.</p>
  </div>
</div>
