.figure{
  height: 400px;
  overflow: hidden;
  position: relative;
  color: #FFFFFF;
  padding-top: 2rem;
  margin-bottom: 2rem;
  border-radius: 5px;
}

.photo{
  position: absolute;
  width: 100%;
  margin: -10% 0 0 0;
}
